.clear{clear:both;}
.fl{float:left;}
.fr{float:right;}
.yahei{font-family:"寰蒋闆呴粦";}
.h20{height:20px;}
.mt20{margin-top:20px;}
.mb20{margin-bottom:20px;}
.p20{padding:20px;}
.pb0{padding:0px;}
.pt20{padding-top:20px;}
.pb20{padding-bottom:20px;}
.pl20{padding-left:20px;}
.pr20{padding-right:20px;}
.grey-line{margin-top:10px; margin-bottom:10px; height:1px; overflow:hidden; clear:both; background:#eee;}

.course-body{ font-size:12px; color:#333; margin:0 auto;}
.course-body a{color:#5f93d3; text-decoration:none;}
.course-body a:hover{color:#3366cc; text-decoration:underline;}
.course-body li{list-style-type:none;}

.course-body .btn-big{cursor: pointer;background: #39B5EE;color: #fff;border: 1px solid #ddd;width: 80px;height: 30px;line-height: 30px;text-align: center;border: none;font-size: 14px;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-khtml-border-radius: 2px;}
.course-body a.btn-big{color:#fff; text-decoration:none;}
.course-body .btn-big:hover{background:#0093D6;}

.course-body .btn-small{background: #39B5EE;font-size: 12px;color: #fff;text-align: center;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-khtml-border-radius: 2px;display: inline-block;vertical-align: middle;cursor: pointer;display: inline-block;line-height: 14px;border:0; height:24px; line-height:24px; padding:0 8px;}
.course-body .btn-small:hover{background: #0093D6;}
.course-body a.btn-small{color:#fff; text-decoration:none;}

.course-body .btn1{font-size:12px; width:30px; padding-left:18px; height:24px; line-height:24px; background:url(images/btn1.gif); display:inline-block; color:#7C7C7C;text-align:left;}
.course-body .btn1:hover, .btn1.hover{background:url(images/btn1.gif) bottom; color:#fff; text-decoration:none;}

.course-body .btn2{font-size:12px; width:54px; padding-left:18px; height:24px; line-height:24px; background:url(images/btn2.gif); display:inline-block; color:#7C7C7C; text-align:left;}
.course-body .btn2:hover, .btn2.hover{background:url(images/btn2.gif) bottom; color:#fff;text-decoration:none;}

.course-body .btn3{font-size:12px; width:72px; height:24px; line-height:24px; background:url(images/btn3.gif); display:inline-block; color:#7C7C7C; text-align:center;}
.course-body .btn3:hover, .btn3.hover{background:url(images/btn3.gif) bottom; color:#fff;text-decoration:none;}

.course-body .btn4{width:54px; padding-left:18px; height:24px; line-height:24px; background:url(images/btn4.gif); display:inline-block; color:#9a9a9a; text-align:left;}
.course-body .btn4:hover, .btn4.hover{background:url(images/btn4.gif) bottom; color:#9a9a9a;text-decoration:none;}

.course-body .btn_gz{width:54px; padding-left:18px; height:24px; line-height:24px; background:url(images/btn_gz.gif); display:inline-block; color:#9a9a9a; text-align:left; text-indent:-99999px;}
.course-body .btn_gz:hover{background:url(images/btn_gz.gif) bottom; color:#9a9a9a;text-decoration:none;}

.course-body .btn_study{width:54px; padding-left:18px; height:24px; line-height:24px; background:url(images/btn_study.gif); display:inline-block; color:#9a9a9a; text-align:left; text-indent:-99999px;}
.course-body .btn_study:hover{background:url(images/btn_study.gif) bottom; color:#9a9a9a;text-decoration:none;}

#main-wrap{margin: 0 auto;width:980px;}
#main-wrap #left-wrap{width:680px; float:left;}
#main-wrap #right-wrap{width:280px; float:right;}

#index-wrap{width:100%; min-width:980px;}
#index-wrap #leftt{width:70%; float:left;}
#index-wrap #rightt{width:30%; float:right;}
#index-wrap #left-wrap{min-width:680px;}
#index-wrap #right-wrap{min-width:280px;margin-left:20px;}


.main-box, .left-box, .right-box {font-size:14px; color: #737373; margin: 0 0 20px 0;background: #fff;padding: 20px;border: 1px solid #E7ECEE;}

.top-box{margin: 0 0 20px 0;background: #fff;border: 1px solid #E7ECEE;}
.top-box .logo{display:inline-block; height:150px; width:250px; margin-right:20px;float:left;}
.top-box .logo img{width:250px; height:150px; border-radius:5px;}
.top-box h2{font-family:inherit; font-size:22px; font-weight:500; margin:10px auto;}
.top-box .mid{display:inline-block; width:430px; float:left;position:relative; height:150px;}
.top-box .mid .subtitle{
	color: #9e9e9e;
	margin-bottom: 10px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	font-size: 15px;
}
.top-box .mid .score {margin-bottom:10px;}
.top-box .mid .score i {font-size:17px; color:#39B5EE;}
.top-box .mid .score span {color:#aaa;}
.top-box .mid .join-btn {position:absolute; bottom: 0;}
.top-box .mid .price {position: absolute; right: 40px; top: 50px; font-size: 20px; color: red; font-weight: bold;}
.top-box .right{float:right; width:200px; height:150px; border-left:1px #E7ECEE dotted; padding-left:20px; text-align:left;}
.top-box .right ul{padding-top:10px;}
.top-box .right ul li{line-height:25px;}

.top-box.pb0, .left-box.pb0, .right-box.pb0{padding-bottom:0;}
h1.title{height:18px; line-height:18px; background:url(images/h1_line.gif) 0 9px repeat-x; margin:0; margin-bottom:20px;}
h1.title span.l{color:#6A7B8B; display:inline-block; height:18px;font-family:"寰蒋闆呴粦"; float:left; font-size:16px; font-weight:100; background:#fff; padding-right:5px; }
h1.title .small{font-size: 12px;}
h1.title span.r{display:inline-block; height:18px; float:right; font-size:12px;font-weight:100;background:#fff; padding-left:5px;}
.right-box .media-left,.right-box .media-body { display: table-cell; vertical-align: top;}
.right-box .media-left {  padding-right: 15px;}
.right-box .media-left img{  -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 58px;
	height: 58px;}
.right-box .media-body { vertical-align: middle; position: relative; width: 100%}
.right-box .media-body .username {  color: #616161; margin-bottom: 7px;  font-size: 15px;  }
.right-box .media-body .username a {  display: inline-block;width:100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.right-box .media-body .title {  color: #bbb;  font-size: 14px;}
.right-box .media-body .follow-btn{ position: absolute; right: 0; top: -3px;}
.right-box .media-body .letter-btn{ position: absolute; right: 0; top: 32px;}
.right-box .box-body .letter-btn{ position: absolute; right: 0; top: 30px;}
.right-box .intro { margin-top: 15px;color: #999;font-size: 13px; text-indent: 1em;}

.quan_menu{clear:both; border-top:1px #E7ECEE solid; background:#fff; line-height:40px; height:40px;}
.quan_menu ul li{float:left; padding:0 30px; text-align:center; border-right:1px #E7ECEE solid;}
.quan_menu ul li a{color:#999; font-size:14px; font-family:"寰蒋闆呴粦";}
.quan_menu ul li a:hover{color:#333; text-decoration:none;}
.quan_menu ul li a.active{color:#333;}
.quan_menu .icon-home{ background-position:0 0;}
.quan_menu .icon-post{ background-position:-12px 0;}
.quan_menu .icon-heiban{ background-position:-24px 0;}
.quan_menu .icon-act{ background-position:-36px 0;}
.quan_menu .icon-user{ background-position:-48px 0;}
.quan_menu a:hover .icon-home{ background-position:0 -12px;}
.quan_menu a:hover .icon-post{ background-position:-12px -12px;}
.quan_menu a:hover .icon-heiban{ background-position:-24px -12px;}
.quan_menu a:hover .icon-act{ background-position:-36px -12px;}
.quan_menu a:hover .icon-user{ background-position:-48px -12px;}

.left-tab{ height:28px;}
.left-tab ul li{float:left;}
.left-tab ul li a{display: block;text-align: center;padding: 0 10px;height: 26px;line-height: 26px;border-radius: 2px;-moz-border-radius: 2px;
-webkit-border-radius: 2px;-khtml-border-radius: 2px;}
.left-tab ul li a.current {background: #efefef;color: #333;}

.post-list{}
.post-list ul{}
.post-list ul li{padding: 15px 0;border-bottom: 1px solid #eee; height: 20px; line-height:20px;}
.post-list ul li.info{padding-bottom:5px;}
.post-list ul li span{display:inline-block;}
.post-list ul li span.tit{}
.post-list ul li span.name{width: 80px;display: inline-block;text-align: center;float:right;}
.post-list ul li span.num{width: 50px;display: inline-block;text-align: center;float:right;}
.post-list ul li span.right{ float:right; width:90px; text-align:right;}

.heiban{}
.heiban ul{ height:240px; padding-top:20px;}
.heiban ul li{float:left; height:100px; width:310px; margin-right:18px; margin-bottom:20px; overflow: hidden;}
.heiban ul li.mr0{margin-right:0;}
.heiban ul li span.logo{float:left; width:100px; height:100px; display:inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 0 10px #ccc inset;
	-webkit-box-shadow: 0 0 10px #ccc inset;
	-moz-box-shadow: 0 0 10px #ccc inset;
}
.heiban ul li span.logo img{ width:100px; height:100px; display:inline-block;}

.heiban ul li span.text{width:180px; padding-left:20px;display:inline-block;}
.heiban ul li span.text strong{font-size:18px;font-weight:100; display:block; margin-bottom:10px;}
.heiban ul li span.text a{color:#333; font-size:18px; }
.heiban ul li span.text p{color:#999; line-height:20px;}

.heiban_list ul li{ height:100px; margin-right:18px; margin-bottom:20px;}
.heiban_list ul li span.logo{float:left; width:100px; height:100px; display:inline-block;}
.heiban_list ul li span.text{padding-left:20px;display:inline-block;}
.heiban_list ul li span.text strong{font-size:18px;font-weight:100; display:block; margin-bottom:10px;}
.heiban_list ul li span.text a{color:#333; font-size:18px; }
.heiban_list ul li span.text p{color:#999; line-height:20px;}

.activity-list{}
.activity-list ul{}
.activity-list ul li{padding-top:20px; padding-bottom:20px;border-bottom:1px #eee solid; height:100px; clear:both;}
.activity-list ul li span.avatar{width:100px; height:100px; margin-right:15px; margin-top:0px;float:left; display:block;}
.activity-list ul li span.avatar img{max-width:100px;  max-height:100px;}
.activity-list ul li span.mid{width:430px; float:left; display:block;}
.activity-list ul li span.mid h4{margin:0; padding:0; font-size:16px; font-weight:100; padding-bottom:4px; padding-top:0px; font-family:"寰蒋闆呴粦";}
.activity-list ul li span.mid p{ margin:0; padding:0; line-height:20px; color:#888;}
.activity-list ul li span.mid p a{color:#888;}
.activity-list ul li span.mid p a:hover{text-decoration:underline;}
.activity-list ul li span.right{display:block; float:right; padding-top:30px;}


.user-list ul li{padding-top:10px; padding-bottom:10px;border-bottom:1px #eee solid; height:60px; clear:both;}
.user-list ul li span.avatar{width:50px; height:50px; margin-right:15px; margin-top:5px;float:left; display:block;}
.user-list ul li span.avatar img{width:50px;  height:50px;}
.user-list ul li span.mid{width:480px; float:left; display:block;}
.user-list ul li span.mid h4{margin:0; padding:0; font-size:12px; font-weight:100; padding-bottom:4px; padding-top:2px;}
.user-list ul li span.mid p{ margin:0; padding:0; line-height:20px; color:#333;}
.user-list ul li span.mid p a{color:#333;}
.user-list ul li span.mid p a:hover{text-decoration:underline;}


.right-box ul.thumb { margin-right:-20px; overflow: hidden;}
.right-box ul.thumb li{float: left;display: block;position: relative;margin: 0 10px 20px 0;padding: 0;}
.right-box ul.thumb li .face img {margin: 0 0 3px 0;width: 50px;height: 50px;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;}
.right-box ul.thumb li a.name span {text-align: center;width: 48px;height: 14px;display: block;margin: 5px 0;cursor: pointer;white-space: nowrap;}


.Recommended li{clear:both; margin:0 0 10px 0; padding-bottom:10px;overflow:hidden; border-bottom:1px #eee dotted;}
.Recommended li .c1{float:left; margin:0 10px 0 0;width:50px;height:50px;}
.Recommended li .c1 img{margin:4px 0 0 0;width:50px;height:50px;}
.Recommended li .c2{float:left}
.Recommended li .c2 dt,.Recommended li .c2 dd{line-height:18px;}

.right-quan li{clear:both; margin:0 0 10px 0; padding-bottom:10px;overflow:hidden; border-bottom:1px #eee dotted; position:relative;}
.right-quan li .c1{float:left; margin:0 10px 0 0;width:50px;height:50px;}
.right-quan li .c1 img{margin:4px 0 0 0;width:50px;height:50px;}
.right-quan li .c2{float:left}
.right-quan li .c2 dt,.right-quan li .c2 dd{line-height:18px;}
.right-quan li .c2 .btn1{position:absolute; bottom:10px;right:0;}


.location{ margin-bottom:20px;}
.detail h3.detail-title{ font-size:22px; margin:0; padding:0; font-weight:100;}
.detail .other{border-bottom:#eee 1px solid; padding-bottom:5px; padding-top:10px; color:#999; height:20px; line-height:20px;}
.detail .content{line-height:22px; padding-top:20px; min-height:400px;}
.detail .share{padding:20px 0; border-top:1px #eee solid; border-bottom:0px #eee solid; margin-top:20px;}
.xin{display:inline-block; padding:4px 20px 4px 4px; background:url(images/xin.png) right no-repeat;}
.reply textarea{width:100%; border:#ccc 1px solid; height:80px;}
.reply .send{padding-top:8px; text-align:right;}
.reply_reply{width:589px; margin-right:5px;}
.reply_reply .top{background:url(images/reply_top.gif) bottom; height:10px; overflow:hidden;line-height:0; font-size:1px;}
.reply_reply .con{ border-left:1px #E1E1E1 solid; border-right:1px #E1E1E1 solid; background:#F9FAFA; margin-right:6px; padding-left:15px; height:auto;}
.reply_reply .bom{background:url(images/reply_bottom.gif) bottom; height:10px; line-height:0; font-size:1px; overflow:hidden;}
.reply_reply .con dl{ height:auto; clear:both; margin-right:15px; padding-top:5px;}
.reply_reply .con dl dd{ line-height:16px; clear:both;padding:10px 0; border-bottom:1px #eee solid;}
.reply_reply .con dl dd .thumb{width:32px; display:inline-block;float:left; margin-right:10px; }
.reply_reply .con dl dd img{width:32px; height:32px;}
.reply_reply .con dl dd .text{width:500px; display:inline-block; float:left;}
.reply_reply .con dl dd .text font{ display:block; text-align:right; color:#aaa; font-size:12px;}
.reply_total{text-align:right; margin-bottom:-10px; margin-top:8px; font-weight:bold; color:#5f93d3;}
 
.zan{display:block; height:30px; line-height:30px; padding-left:30px; padding-right:15px; background:url(images/zan.gif) top left no-repeat; color:#424242; text-decoration:none; font-size:12px; float:left; position:relative;}
a.zan:hover{color:#333;background:url(images/zan.gif) bottom left no-repeat; text-decoration:none;}
a.zan:hover span{background:url(images/zan.gif) bottom right; }
.zan span{height:30px; width:15px; background:url(images/zan.gif) top right;position:absolute; top:0; right:0; }


.from-quan .sub span.thumb{float:left; width:50px; height:50px; display:block; margin-right:15px;}
.from-quan .sub span.thumb img{width:50px; height:50px;}
.from-quan .sub span.text{float:left; width:165px; display:block; color:#999;}
.from-quan .sub span.text strong{display:block; margin-bottom:10px;}

.r-list li { padding-bottom:10px; margin-bottom:10px;border-bottom: 1px dashed #eee;float: none;}
.r-list li a{line-height:16px;}
.r-list li p{color: #999;margin: 6px 0 0 0;}
.r-list li p a{color:#999;}

.reply_list .list{border-bottom:1px #ddd dotted; padding:10px 0; margin-top:5px;}
.reply_list .list .avatar{width:50px; height:50px; float:left;}
.reply_list .list .avatar img{width:50px; height:50px; }
.reply_list .list .r{width:580px; float:right;}
.reply_list .list .r .t{color:#999; line-height:20px; background:#f8f8f8; padding-left:5px;}
.reply_list .list .r .t span.f{float:right; padding-right:8px; color:#ccc; font-size:14px; font-family:"Comic Sans MS", cursive;}
.reply_list .list .r .c{line-height:20px; padding-left:5px; padding-top:5px;}
.reply_list .list .r .z{text-align:right;color:#999; padding-right:10px;}
.reply_list .list .r .z a{color:#999;}
.reply_list .list .r .list{border-bottom:0; margin-top:0;}
.reply_list .list .r .list .r{width:520px;}
.reply_list .list .r .list .r .list .r{width:460px;}




.form-post{margin:0; padding:0;}
.form-post .item{display:block; padding:12px 0;}
.form-post .item span.text{display:block; float:left; width:100px; font-size:12px; text-align:right; margin-right:12px; color:#666;height:25px; line-height:25px;}
.form-post .item span.text font.red{ color:red; font-size:12px;}
.form-post .item .input{height:25px; line-height:25px; border:1px #ddd solid; width:350px; padding-left:5px;}
.form-post .item select{width:360px; height:28px; line-height:28px; border:1px #ddd solid;}




.activity h2{font-size:18px; font-weight:100; margin:0; padding:0; margin-bottom:15px;}
.activity .content{line-height:22px; padding-top:10px; clear:both;}
.activity .act_thumb{float:left; width:200px;}
.activity .act_thumb img{_width:200px;min-width:200px; }
.activity .act_info{float:left; width:418px; padding-left:20px;}
.activity .act_info ul li{line-height:25px;}
.activity .act_info ul li span.l{color:#666; display:inline-block; width:65px; text-align:left;}
.activity .act_info .join{padding-top:8px; color:#666;}
.activity .act_info .join-b{padding-top:12px;}

.act_tab{height:28px; border-bottom:1px #eee solid; margin-top:10px; margin-bottom:10px;}
.act_tab span{display:inline-block; height:28px; line-height:28px; padding:0 15px; border-left:1px #eee solid; border-top:1px #eee solid; border-right:1px #eee solid; border-bottom:1px #fff solid; margin-top:-1px; z-index:999; margin-left:10px;}

.tab{height:28px; border-bottom:1px #eee solid; padding-left:5px;}
.tab span{display:inline-block; height:28px; line-height:28px; padding:0 10px; border-left:1px #eee solid; border-top:1px #eee solid; border-right:1px #eee solid; border-bottom:1px #eee solid; margin-top:-1px; z-index:999; background:#f8f8f8; cursor:pointer;}
.tab span.sel{border-bottom:1px #fff solid; background:#fff;}
.tab span a{color:#333; text-decoration:none; display:block; height:28px;}

.quan-list{}
.quan-list ul{}
.quan-list ul li{padding-top:10px; padding-bottom:10px;border-bottom:1px #eee solid; height:60px; clear:both;}
.quan-list ul li span.thumb{width:50px; height:50px; margin-right:15px; margin-top:5px;float:left; display:block;}
.quan-list ul li span.thumb img{width:50px;  height:50px;}
.quan-list ul li span.mid{width:480px; float:left; display:block;}
.quan-list ul li span.mid h4{margin:0; padding:0; font-size:14px; font-weight:100; padding-bottom:4px; padding-top:4px; font-family:"寰蒋闆呴粦";}
.quan-list ul li span.mid p{ margin:0; padding:0; line-height:20px; color:#888; font-family:"寰蒋闆呴粦"; padding-top:10px;}
.quan-list ul li span.mid p a{color:#888;}
.quan-list ul li span.mid p a:hover{text-decoration:underline;}

.notice ul li{padding-bottom:10px; border-bottom:1px #eee dotted; margin-bottom:10px; line-height:16px;}
.notice ul li span{color:#999; float:right;}
.notice ul li.info span{color:#333;}

.right-list ul li{padding-bottom:10px; border-bottom:1px #eee dotted; margin-bottom:10px; line-height:16px;}
.right-list ul li span{color:#999;}

.admin_tab{margin-bottom:10px;}

/***..**/

/********    鍒嗛〉 ***********/
.pagination{display:block;}
.pagination li{ float:left; padding:0 8px; }


/********璇炬椂鍒楄〃**********/
.lesson-list {
	font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #616161;

	margin-top: 20px;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}
.lesson-list a:hover,.lesson-list a:focus{text-decoration:none;}
.lesson-list .lesson {
	position: relative;
	padding: 10px 100px 10px 42px;
	border-radius: 6px;
}
.lesson-list>li {
	margin-bottom: 10px;
	padding: 10px 15px;
}
.lesson-list .lesson:hover, .lesson-list .lesson.item-active {
	background-color: #eee;
}
.lesson-list .lesson>a {
	color: #9e9e9e;
}
.lesson-list .lesson .status-icon {
	position: absolute;
	bottom: 13px;
	left: 15px;
	color: #39B5EE;
}
.lesson-list .lesson .label {
	position: absolute;
	padding: .2em .6em;
}
.mlr10 {
	margin: 0 10px;
}
.label-warning {
	background-color: orange;
}
.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}
.lesson-list .lesson .title {
	color: #616161;
	max-width: 400px;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
}
.lesson-list .lesson .lesson-state {
	position: absolute;
	top: 10px;
	right: 15px;
	color: #9e9e9e;
}
.lesson-list .lesson .date {
	position: absolute;
	top: 11px;
	right: 80px;
}
.lesson-list .lesson .course-type {
	position: absolute;
	top: 11px;
	right: 15px;
	line-height: 20px;
}
.lesson-list .lesson .type-icon {
	font-size: 18px;
}

/********璇惧爞璇勪环*********/
#location i {
	line-height: 30px;
	margin-right: 15px
}
.reply textarea {
	padding: 10px;
	margin-top: 8px;
	font-size: 14px;
	box-sizing: border-box;
	border-radius: 4px;
}
.reply textarea:focus {
	border-color: #39B5EE;
}
.comment-ul {
	padding: 5px;
}
.no-record {
	color: #616161;
}
.box-comment {
	position: relative;
	padding-top: 10px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #ddd;
}
.box-comment .icon-edit {
	position: absolute;
	right: 0;
	top: 10px;
	text-decoration: none !important;
}
.box-comment .box-left,.box-comment .box-right,.box-comment .box-body {
	display: table-cell;
	vertical-align: top;
}
.box-comment .box-left {
	padding-right: 15px;
}
.box-comment .box-left .avatar {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 40px !important;
	height: 40px !important;
}
.box-comment .box-body .content {
	font-size: 14px;
}
.box-comment .title {
	color: #9e9e9e;
	margin-bottom: 5px;
	font-size: 12px;
}
.box-comment .title a {
	margin-right: 15px;
}
.box-comment .score {
	font-size: 13px;
	color: #39B5EE;
}