a:focus,input{
	outline:none;
}
.btn{
	background-color: #39B5EE;
	border: 0;
	padding: 3px 5px
}
.nt-nav-bd {
    border: 1px solid #ccc;
}
.note-nav{
	margin-bottom: 10px;
}

.note-nav > h2{
	max-width: 70px;
	position: relative;
}
.note-nav-sort .ns-choose,
.note-nav-sort .ns-hot{
	position: absolute;
}
.note-nav-sort .ns-choose{
	left: 85px;
	top: 5px;
}
.note-nav-sort .ns-hot{
	right: 0;
	top: 0;
}
.ns-choose a,
.ns-hot {
	padding: 3px 5px;
}
.ns-choose-detail-bd{
	margin: 20px 0;
	display: none;
}
.ns-choose-detail-cont a{
	background-color: #ccc;
    border: none;
    text-decoration: none!important;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    padding: 0px 12px;
    margin-right: 9px;
    margin-bottom: 10px;
}
.ns-choose-detail-cont .act{
	background-color: #36E2A1;
}

/*笔记详情开始*/
.nt-dt-cont{
	overflow: hidden;
}
/* .nt-pic,
.nt-pic-rt{
	float: left;
} */
.nt-pic{
	float: left;
}
.nt-detail-mg{
	border-top: 1px solid #ccc;
	padding: 10px 0;
}
.nt-pic img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 0;
	margin-right: 20px;
}
.nt-pic-rt{
	/*float: left;*/
	position: relative;
	overflow: hidden;
}
.nt-pic-rt-cont{
	position: relative;
}
.nt-pic-cont-top{
	margin-right: 50px;
}
.u-keshi{
	position: absolute;
	top: 0;
	right: 0;
}
.nt-pic-cont-ml{
	overflow: hidden;
	position: relative;
	height: 36px;
	line-height: 18px;
	margin: 10px 0;
}
.nt-pic-cont-ml .u-note{
	font-size: 14px;
}
.zhankai,
.shouqi{
	display: none;
}
.nt-pic-cont-ml .zhankai {
    position: absolute;
    right: 0;
    bottom: 0;
    /*background-color: #fff;*/
    width: 60px;
    text-align: center;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.8) 0,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%);
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.8) 0,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%);
    background-image: linear-gradient(left, rgba(255,255,255,.8) 0,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%);
}
.bt-left{
	float: left;
}
.dt-hide,
.ed-hide,
.date-time-hide{
	display: none;
}
.hd-show{
	display: block;
}
.bt-right{
	float: right;
}
.bt-right ul li{
	float: left;
	padding: 2px 5px;
	margin-left: 4px;
}
.share-items{
	position: absolute;
}
/*笔记详情结束*/
/*笔记评论部分开始*/
.comment-cont{
/*	border: 1px solid #ccc;*/
	margin-left: 80px;
}
.comment-pool{
	border: 1px solid #ccc;
	padding-right: 10px;
	padding: 5px 10px 5px 10px;
	margin-top: 10px;
	/* display: none; */
}


.comment-pool-list{
	padding-left: 40px;
	position: relative;
}
.comment-pool-list img{
	position: absolute;
	top: 0;
	left: 0;
}
.comment-cont-dt h4{
	display: inline-block;
}
.delete-and-jubao{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	cursor: pointer;
}
.comment-cont-word{
	margin: 10px 0;
	border-bottom: 1px solid #ccc;
}
.comment-pool-list img{
	width: 30px;
	height: 30px;
	border-radius: 15px;

}
.comment-type{
	margin-top: 20px;
	position: relative;
}
.edittxt{
	width: 100%;
	height: 50px;
	line-height: 16px;
	resize: none;
	padding: 5px;
	color: #999;
}
.edittxt-tip{
	position: absolute;
	top: 5px;
	left: 5px;
	color: #999;
}
.comment-btn{
	text-align: right;
}
.comment-btn a{
	display: inline-block;
	padding: 5px 10px;
	color: #000;
}
/*笔记评论部分结束*/

/*弹窗开始*/
.dialog,.dialog-bg{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none;
}
.dialog-bg{
	background-color: #3b3b3b;
	opacity: .75;
	z-index: 1000;
	/*animation: change 1s ;*/

}
.dialog-cont{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 200px;
	margin-left: -200px;
	margin-top: -100px;
	z-index: 10001;
	background-color: #fff;
	padding: 10px;
	font-size: 20px;
	animation: change 1s ;
}
.dialog-cont 
.dialog-body{
    height: 100px;
    text-indent: 2em;
}
.dialog-footer{
	text-align: right;
}
.dialog-footer a{
	display: inline-block;
	padding: 5px 10px;
	margin-left: 10px;
	background-color: #A3E1F6;
}
.dialog-footer a:hover{
	background-color: #7CD4F2;
}
@-webkit-keyframes change{
	0 {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		opacity: 0.75;
		 -webkit-transform: scale(1);
		transform: scale(1); 
	}
}
/*弹窗结束*/



/**
 *
 *  page-introduce
 *
 **/
.page2-cont{
	width: 70%;
	border: 1px solid #ccc;
}
.page2-wrap{
	padding: 10px;
}
.page2-wrap h2{
	font-size: 22px;
	font-weight: 400;
}
.p2-wrap-header,
.p2-goal,
.p2-fit,
.p2-absrtact{
	margin-bottom: 20px;
}
.p2-txt{
	text-indent: 1em;
	font-size: 14px;
}
.page2-wrap b{
	font-size: 18px;
	font-weight: 500;
	color: #444;
}