
*{
	box-sizing: border-box;
}
a:focus,input{
	outline:none;
}
.btn{
	background-color: #39B5EE;
	border: 0;
	padding: 2px 8px
}
.btn:hover {
    opacity: 0.7;
    color: rgb(22, 25, 26);
    background-color: #39B5EE;
}
.row,{
	width: 980px;
}

.col-sm-4,.nt-nav-bd{
	float: left;
}
.nt-nav-bd {
    width: 70%;
    padding: 10px;
    border: 1px solid #E4E5E7;
}
.col-sm-4{
	width: 30%;
}

.note-nav{
	margin-bottom: 10px;
	position: relative;
}

.note-nav > h2{
	max-width: 70px;
	/*position: relative;*/
}
.note-nav-sort .ns-choose,
.note-nav-sort .ns-hot{
	position: absolute;
}
.note-nav-sort .ns-choose{
	left: 85px;
	top: 5px;
}
.note-nav-sort .ns-hot{
	right: 0;
	top: 0;
}
.ns-choose a,
.ns-hot {
	padding: 3px 5px;
}
.ns-choose-detail-bd{
	margin: 20px 0;
	display: none;
}
.ns-choose-detail-cont a{
    background-color: #A0DEC7;
    border: none;
    text-decoration: none!important;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    padding: 0px 12px;
    margin-right: 9px;
    margin-bottom: 10px;
    color: #F8F8F8;
}
.ns-choose-detail-cont .act{
	background-color: #36E2A1;
}

/*笔记详情开始*/
.nt-dt-cont{
	overflow: hidden;
}
/* .nt-pic,
.nt-pic-rt{
	float: left;
} */
.nt-pic{
	float: left;
}
.nt-detail-mg{
	border-top: 1px solid #E4E5E7;
	padding: 10px 0;
}
.nt-pic img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 0;
	margin-right: 20px;
}
.nt-pic-rt{
	/*float: left;*/
	position: relative;
	overflow: hidden;
}
.nt-pic-rt-cont{
	position: relative;
}
.nt-pic-cont-top{
	margin-right: 50px;
}
.u-keshi{
	position: absolute;
	top: 0;
	right: 0;
}
.nt-pic-cont-ml{
	overflow: hidden;
	position: relative;
	height: 36px;
	line-height: 18px;
	margin: 10px 0;
}
.nt-pic-cont-ml .u-note{
	font-size: 14px;
}
.zhankai,
.shouqi{
	display: none;
}
.nt-pic-cont-ml .zhankai {
    position: absolute;
    right: 0;
    bottom: 0;
    /*background-color: #fff;*/
    width: 60px;
    text-align: center;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.8) 0,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%);
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.8) 0,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%);
    background-image: linear-gradient(left, rgba(255,255,255,.8) 0,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%);
}
.nt-pic-cont-top .u-name{
	 font-size: 16px;
    color: #5AA05A;
}
.bt-left{
	float: left;
}
.nt-pic-cont-bt{
	font-size: 12px;
}
.dt-hide,
.ed-hide,
.date-time-hide{
	display: none;
}
.hd-show{
	display: block;
}
.bt-right{
	float: right;
}
.bt-right ul li{
	float: left;
	padding: 2px 5px;
	margin-left: 4px;
}
.f-btn{
	font-size: 12px;
}
.share-items{
	position: absolute;
	right: 0;
	width: 200px;
	display: block;
}
/*笔记详情结束*/
/*笔记评论部分开始*/
.comment-cont{
/*	border: 1px solid #E4E5E7;*/
	margin-left: 80px;
}
.comment-pool{
	border: 1px solid #E4E5E7;
	padding-right: 10px;
	padding: 5px 10px 5px 10px;
	margin-top: 10px;
	/* display: none; */
}


.comment-pool-list{
	padding-left: 40px;
	position: relative;
}
.comment-pool-list img{
	position: absolute;
	top: 0;
	left: 0;
}
.comment-cont-dt h4{
	display: inline-block;
	color: #5AA05A;
	font-weight: 400;
	font-size: 14px;
}
.comment-cont-dt span{
	font-size: 12px;
}
.delete-and-jubao{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	cursor: pointer;
	font-size: 12px;
}
.comment-cont-word{
	margin: 10px 0;
	border-bottom: 1px solid #E4E5E7;
	font-size: 13px;
}
.comment-pool-list img{
	width: 30px;
	height: 30px;
	border-radius: 15px;

}
.comment-type{
	margin-top: 20px;
	position: relative;
}
.edittxt{
	width: 100%;
	height: 50px;
	line-height: 16px;
	resize: none;
	padding: 5px;
	color: #999;
		border: 1px solid #E4E5E7;
}
.edittxt-tip{
	position: absolute;
	top: 5px;
	left: 5px;
	color: #999;
	font-size: 12px;
}
.comment-btn{
	text-align: right;
	margin-top: 2px;
}
.comment-btn a{
	display: inline-block;
	padding: 2px 8px;
}
/*笔记评论部分结束*/

/*弹窗开始*/
.dialog,.dialog-bg{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none;
}
.dialog-bg{
	background-color: #3b3b3b;
	opacity: .75;
	z-index: 1000;
	/*animation: change 1s ;*/

}
.dialog-cont{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 200px;
	margin-left: -200px;
	margin-top: -100px;
	z-index: 10001;
	background-color: #fff;
	padding: 10px;
	font-size: 20px;
	animation: change 1s ;
}
.dialog-cont 
.dialog-body{
    height: 100px;
    text-indent: 2em;
}
.dialog-footer{
	text-align: right;
}
.dialog-footer a{
	display: inline-block;
	padding: 5px 10px;
	margin-left: 10px;
	background-color: #A3E1F6;
}
.dialog-footer a:hover{
	background-color: #7CD4F2;
}
@-webkit-keyframes change{
	0 {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		opacity: 0.75;
		 -webkit-transform: scale(1);
		transform: scale(1); 
	}
}
/*弹窗结束*/



/**
 *
 *  page-introduce
 *
 **/
.page2-cont{
	width: 70%;
	border: 1px solid #E4E5E7;
}
.page2-wrap{
	padding: 10px;
}
.page2-wrap h2{
	font-size: 22px;
	font-weight: 400;
}
.p2-wrap-header,
.p2-goal,
.p2-fit,
.p2-absrtact{
	margin-bottom: 20px;
}
.p2-txt{
	text-indent: 1em;
	font-size: 14px;
}
.page2-wrap b{
	font-size: 18px;
	font-weight: 500;
	color: #444;
}

/*学员列表开始*/

.left-box{
	overflow: hidden;/*清除浮动用*/
}

.std-list,
.std-lit-dt,
.u-learning,
.u-following,
.u-follower{
	box-sizing: border-box;
}


.main-box, .left-box, .right-box{
	border: 1px solid #CED8DC!important;
}
.std-list{
	margin: 20px 7px;
	overflow: hidden;
	font-size: 12px;
}
.std-lit-dt{
	margin-bottom: 50px;
	padding: 4px;
	margin-left:24px;
	width: 133px;
	height: 190px;
	border: 1px solid #ccc;
	position: relative;
	float: left;
	overflow: hidden;
}
.std-pic{
	width: 100%;
	height: 80px;
}
.std-pic img{
	width: 98px;
	height: 60px;
	position: absolute;
	top: 13px;
	left: 50%;
	margin-left: -49px;
	transition: all .5s ease;
	border-radius: 4px;
}
img.img-hover{
	width: 100%;
	top: 0;
	margin-left: -50%;
}
.std-mask a{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 16px;
	width: 80px;
	height: 26px;
	line-height: 26px;
	opacity: 0.1;
	transition: opacity .5s, transform.5s;
}
a.a-hover{
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}
.std-mask a.std-btn {
    color: #fff;
    background-color: #39B5EE;
    text-align: center;
    font-size: 14px;

}

.std-mask .btn-add{
	margin-top: -31px;
	margin-left: -40px;
}
.std-mask .btn-visit{
	margin-top: 5px;
	margin-left: -40px;
}
.std-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*display: none;*/
    visibility: hidden;
    /*background-color: #fff;*/
    transition : all .5s ease;
    -webkit-transition:  all .5s ease;
}
.std-lit-dt:before{
	content: '';
	display: block;
	background: url(../img/shadow-left.png) no-repeat;
	position: absolute;
	left: -21px;
	bottom: -7px;
	width: 80px;
	height: 10px;
}
.std-lit-dt:after{
	content: '';
	display: block;
	background: url(../img/shadow-right.png) no-repeat;
	position: absolute;
	right: -1px;
	bottom: -7px;
	width: 80px;
	height: 10px;
}
.std-hover-show{
	/*display: block;*/
	visibility: visible;
	background-color: rgba(0,0,0,.4);
	/* width: 100%;
	height: 100%; */
    
}
.other-msg>div {
    float: left;
    width: 41px;
    text-align: center;
 }
.u-learning span,
.u-following span,
.u-follower span{
	display: block;
}
.u-following{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.std-page-choose{
	float: right;
	margin-bottom: 10px;
}
.std-page-choose >a {
	float: left;
	display: inline-block;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	line-height: 35px;
	margin-left: 5px;
	background-color: #E0E0E0;
	text-align: center;
	text-decoration: none!important;
}
.std-page-choose >.page-num{
	color: #CCCACA;
}
.std-page-choose >.page-num:hover{
	background-color: #3ABBB7;
	font-size: 24px;
	transition: all .2s ease-in;
}
.pre-btn.fontszie,
.nxt-btn.fontszie{
	font-size: 24px;
}
.pre-btn.act,/*能够进行下一页或者上一页下操作时添加.act类*/
.nxt-btn.act{
	background-color: #9EE4E2;
	color: #5f93d3;
}

/*学员列表结束*/
